.modalFooter {
  background-color: #172a28 !important;
  color: white;
  display: flex;
  justify-content: center!important;
}
.modalHeader {
  background-color: #172a28 !important;
  color: white;
}

button.close {
    color: white !important;
}

.modal-body {
  background-color: white;;
}

.modal-dialog {
  max-width: 370px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.modal-title {
  color: #ffc107;
}

.form-label {
  margin-right: 12px;
}