.modalFooter {
  background-color: #172a28 !important;
  color: white;
  display: flex;
  justify-content: center!important;
}
.modalHeader {
  background-color: #172a28 !important;
  color: white;
}

button.close {
    color: white !important;
}

.modal-dialog {
  max-width: 370px !important;
}