.location-card {
  margin: 0 !important;
  max-width: 342px !important;
  min-width: 342px !important;
  max-height: 335px;
  overflow: hidden;
  box-sizing: unset !important;
  .location-card-image {
    min-height: 274px;
    max-height: 274px;
    max-width: 342px !important;
    min-width: 342px !important;
    object-fit: cover;
  }
  .location-card-no-gps-position {
    position: absolute;
    top: 255px;
    left: 10px;
    color: #ffc107 !important;
    font-size: 12px !important;
    font-weight: bold !important;
  }
  .location-card-gps-distance-closed {
    position: relative;
    left: 5px;
    top: 1px;
    float: left;
    color: #ffc107 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }
  .location-card-gps-distance-open {
    position: relative;
    left: 5px;
    top: 45px;
    float: left;
    color: #ffc107 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }
  .location-card-title {
    margin-bottom: 0;
    text-align: center;
    height: 61px;
    padding-top: 5px;
    background-color: #172a28;
    color: #ffc107;
    cursor: pointer;
  }
  .hideCarouselControl {
    .carousel-indicators {
      display: none;
    }
  }
  .location-card-slider-close {
    position: relative;
    bottom: 0px;
    transition: all 0.3s ease-out;
    z-index: 10;
    height: 100%;
  }
  .location-card-slider-open {
    position: relative;
    bottom: 274px;
    transition: all 0.3s ease-out;
    z-index: 10;
    height: 100%;
  }
  .location-card-arrow-close {
    position: relative;
    bottom: 44px;
    left: 160px;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
  }
  .location-card-arrow-open {
    position: relative;
    bottom: 2px;
    left: 160px;
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }
  .location-card-body {
    min-height: 219px;
    min-width: 342px !important;
    max-width: 342px !important;
    background-color: white;
    z-index: 1;
  }
  .location-card-location-name {
    padding: 0 44px;
  }
  .location-card-location-text {
    font-size: 13px;
    overflow-wrap: break-word;
    margin: 0 5px;
  }
  .location-card-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 8px;
    text-transform: capitalize;
    font-size: 10.5px !important;
    color: white !important;
    background-color: #172a28;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .location-card-footer {
    background-color: #172a28;
    color: white;
    height: 55px;
    display: flex;
    min-width: 342px !important;
    flex-direction: row;
    padding: 6px 9px;
    font-size: 11.5px;

    .location-card-contactGroup {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: flex-end;
      height: 44px;
      padding-bottom: 4px;
    }

    .location-card-buttonGroup {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: auto;
      // padding-top: 1em;
      align-items: center;
    }

    .button .btn {
      height: 20px;
    }
  }
}

.location-card-bloglink {
  margin-left: auto;
}
