.location-card {
margin: 0 !important;
max-width: 342px !important;
min-width: 342px !important;
max-height: 335px;
display: inline-block;
position: relative;
overflow: hidden;
box-sizing: unset !important;

  .location-card-image {
    min-height: 274px;
    max-height: 274px;
    max-width: 342px !important;
    min-width: 342px !important;
    z-index: -10
  }
  .image-hide {
    opacity: 0;
    transition-delay: 0.2s;
  }

  .location-card-no-gps-position {
    position: absolute;
    top: 255px;
    left: 10px;
    color: #ffc107 !important;
    font-size: 12px !important;
    font-weight: bold !important;
  }

  .location-card-gps-distance-closed {
    position: relative;
    left: 5px;
    top: 1px;
    float: left;
    color: #ffc107 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }
  .location-card-gps-distance-open {
    position: relative;
    left: 5px;
    top: 46px;
    float: left;
    color: #ffc107 !important;
    font-size: 10px !important;
    font-weight: bold !important;
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }

  .location-card-title {
    position: relative;
    margin-bottom: 0;
    text-align: center;
    height: 61px;
    padding-top: 5px;
    background-color: #172a28;
    color: #ffc107;
    cursor: pointer;
    z-index: 1;
  }

  .location-card-slider-closed {
    position: relative;
    overflow:hidden;
    bottom: 0px;
    transition: all 0.2s ease-out;
  }
  .location-card-slider-open {
    position: relative;
    bottom: 274px;
    min-height: 335px;
    transition: all 0.2s ease-in;
    z-index: 1;
    overflow:hidden;

  }
  .location-card-info-collapse-closed {
    position: relative;
    bottom: 0px;
    transition: all 0.2s ease-out;
    overflow:hidden;
  }
  .location-card-info-collapse-open {
    position: absolute;
    bottom: 0px;
    height: 274px;
    transition: all 0.3s ease-in;
    z-index: 1;
    overflow:hidden;
    background-color: white;

  }

  .location-card-arrow-closed {
    position: relative;
    bottom: 44px;
    left: 160px;
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
  }
  .location-card-arrow-open {
    position: relative;
    bottom: 2px;
    left: 160px;
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  .location-card-body {
    position: relative;
    min-height: 219px;
    min-width: 342px !important;
    max-width: 342px !important;
    background-color: white;
    z-index: 1;
    // opacity: 0.9;
  }

  .location-card-location-name {
    padding: 0 44px;
  }

  .location-card-location-text {
    font-size: 11px;
    overflow-wrap: break-word;
    margin: 0 5px;
  }

  .location-card-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 8px;
    text-transform:capitalize;
    font-size: 10.5px !important;
    // color: #ffc107;
    color: white !important;
    background-color: #172a28;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .location-card-footer {
    background-color: #172a28;
    color: white;
    height: 55px;
    display: flex;
    min-width: 342px !important;
    flex-direction: row;
    padding: 6px, 9px;
    font-size: 11.5px;

    .location-card-contactGroup {
      display: flex;
      flex-direction: column;
      height: 44px;
    }

    .location-card-buttonGroup {
      display: inline;
      margin-left: auto;
    }

    .button .btn {
      height: 20px;
    }
  }
}
