.card {
margin: 0 !important;
max-width: 342px;
min-width: 342px;
max-height: 335px;
display: inline-block;
position: relative;
overflow: hidden;



  .card-image {
    // max-height: 275px;
    min-height: 274px;
    max-width: 342px!important;
    min-width: 342px!important;
    z-index: -10
  }

  .no-gps-position {
    position: absolute;
    top: 242px;
    left: 10px;
    color: #ffc107 !important;
    font-size: 12px !important;
    font-weight: bold !important;
  }

  .gps-distance {
    position: relative;
    // top: 100px;
    left: 5px;
    float: left;
    color: #ffc107 !important;
    font-size: 12px !important;
    font-weight: bold !important;
  }

  .card-title {
    position: relative;
    margin-bottom: 0;
    text-align: center;
    height: 61px;
    padding-top: 5px;
    background-color: #172a28;
    color: #ffc107;
    cursor: pointer;
    z-index: 1;
  }

  .slider-closed {
    position: relative;
    overflow:hidden;
    bottom: 0px;
    transition: all 0.2s ease-out;
  }
  .slider-open {
    position: relative;
    bottom: 274px;
    min-height: 335px;
    transition: all 0.2s ease-in;
    z-index: 1;
    overflow:hidden;

  }
  .info-collapse-closed {
    position: relative;
    bottom: 0px;
    transition: all 0.2s ease-out;
    overflow:hidden;
  }
  .info-collapse-open {
    position: absolute;
    bottom: 0px;
    height: 274px;
    transition: all 0.3s ease-in;
    z-index: 1;
    overflow:hidden;
    background-color: white;


  }

  .arrow-closed {
    position: relative;
    bottom: 58px;
    left: 160px;
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;

  }
  .arrow-open {
    position: relative;
    bottom: 13px;
    left: 160px;
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  .card-body {
    position: relative;
    // white-space: normal;
    // background-color: white;
    max-height: 219px;
    max-width: 342px;
    z-index: 1;
  }

  .location-text {
    font-size: 11px;
    overflow-wrap: break-word;
    margin: 0 5px;
  }

  .location-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10px;
    text-transform:capitalize;
    font-size: 10.5px !important;
    color: #ffc107;
    background-color: #172a28;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  .card-footer {
    background-color: #172a28;
    color: white;
    height: 55px;
    display: flex;
    flex-direction: row;
    padding: 6px, 9px;
    font-size: 11.5px;

    .contactGroup {
      display: flex;
      flex-direction: column;
      height: 44px;
    }

    .buttonGroup {
      display: inline;
      margin-left: auto;
    }

    .button .btn {
      height: 20px;
    }
  }
}
