.modal-content {
  max-width: 362px;
  min-width: 362px;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
}

.map-location-card {
  margin: 7px;
  max-width: 342px;
  min-width: 342px;
  display: inline-block;
  border: none !important;

  .map-location-card-body {
    white-space: normal;
    height: 219px;
    padding: 0;
    min-width: 342px !important;
  }

  .map-location-card-image {
    max-height: 275px;
    min-height: 274px;
    max-width: 342px;
    min-width: 342px;
    object-fit: cover;
  }

  .map-location-card-no-gps-position {
    color: #ffc107 !important;
    font-size: 12px !important;
    font-weight: bold !important;
  }

  .map-location-card-title {
    height: 61px;
    text-align: center;
    margin-bottom: 0;
    text-align: center;
    padding-top: 5px;
    background-color: #172a28;
    color: #ffc107;
    min-width: 342px;
  }

  .map-location-card-distance {
    position: absolute;
    top: 242px;
    left: 10px;
    color: #ffc107;
    font-size: 18px;
    font-weight: bold;
  }

  .map-location-card-text {
    overflow-wrap: break-word;
    font-size: 13px;
    margin: 0 5px;
  }

  .map-location-location-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10px;
    text-transform: capitalize;
    font-size: 10.5px !important;
    // color: #ffc107;
    color: white !important;
    background-color: #172a28;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .map-location-card-footer {
    background-color: #172a28;
    color: white;
    height: 55px;
    display: flex;
    flex-direction: row;
    padding: 6px, 9px;
    font-size: 11.5px;
    min-width: 342px;

    .map-location-contactGroup {
      display: flex;
      flex-direction: column;
      height: 44px;
    }

    .map-location-button-group {
      display: inline;
      margin-left: auto;
      .button .btn {
        height: 20px !important;
      }
    }
  }
}
