.navbar {
  background-color: #172a28;
  padding: 8px 8px 8px 16px !important;
}

.menu-buttons {
  display: inline-block;
}

.basic-navbar-nav {
  text-align: right;
}

.navbar-brand {
  margin-right: 7px !important;
}