.navbar {
  color: red;
  background-color: #172a28;
  padding: 8px 8px 8px 12px !important;
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.menu-buttons {
  display: inline-block;
}

.navbar-nav {
  text-align: center;
}

.navbar-login-cover {
  height: 100%;
  width: 110px;
  margin-left: -5px;
  background-color: #172a28;
  z-index: 5;
  opacity: 1;
  transition: all 1s ease;
}

.usermenulogin {
  display: flex;
  justify-content: left;
}

.navbar-brand {
  text-align: center;
  margin-right: 0 !important;
}

.navbar-footer {
  background-color: #172a28;
  padding: 8px 8px 8px 16px !important;
  height: 33px;
}

.footer-nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // align-content: center;
  width: 100vw;
}

.add-button {
  position: absolute;
  right: 5px;
  bottom: 15px;
  height: 25px;
  padding: 0 8px !important;
}

.logo-center {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 44px;
  margin-right: 88px;
}
