.user-card {
  margin: 0 !important;
  max-width: 342px !important;
  min-width: 342px !important;
  max-height: 335px;
  overflow: hidden;
  box-sizing: unset !important;


  .user-card-image {
    min-height: 274px;
    max-height: 274px;
    max-width: 342px !important;
    min-width: 342px !important;
    object-fit: cover;
  }

  .user-card-title {
    margin-bottom: 0;
    text-align: center;
    height: 61px;
    padding-top: 11px;
    background-color: #172a28;
    color: #ffc107;
    cursor: pointer;
    z-index: 1;
  }

  .user-card-body {
    min-height: 219px;
    min-width: 342px !important;
    max-width: 342px !important;
    background-color: white;
    z-index: 1;
  }

  .user-card-text {
    overflow-wrap: break-word;
    font-size: 13px;
    margin: 0 5px;
  }

  .user-card-footer {
    background-color: #172a28;
    color: white;
    height: 55px;
    display: flex;
    min-width: 342px !important;
    justify-content: center;
    padding: 6px, 9px;
    font-size: 11.5px;
  }

  .user-card-details {
    font-size: large;
    height: 44px;
  }

  .user-card-slider-close {
    position: relative;
    bottom: 0px;
    transition: all 0.3s ease-out;
    z-index: 10;
    height: 100%;
  }

  .user-card-slider-open {
    position: relative;
    bottom: 274px;
    transition: all 0.3s ease-out;
    z-index: 10;
    height: 100%;
  }

  .user-card-arrow-close {
    position: relative;
    bottom: 44px;
    left: 160px;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
  }
  .user-card-arrow-open {
    position: relative;
    bottom: 2px;
    left: 160px;
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }

  .user-card-user-name {
    padding: 0 44px;
  }
}