.home-class {
  background-image: url('../../assets/homebackground.jpeg');
  width: 100vw;
  height: calc(100vh - 56px);
  margin: 0 !important;
  text-align: center;

}

.aboutText {
  color: aquamarine;
  text-align: center;
  padding-top: 33vw;
}
