#mapId {
  width: 100vw;
  height: calc(100vh - 56px);
}

.popup-location-card {
  max-height: 275px;
    min-height: 274px;
    max-width: 344px;
    min-width: 344px;
}

.nogps-h3 {
  position: absolute;
  left: 50%;
  text-align: center;
  margin-left: -144px;
  min-width: 288px!important;
  max-width: 288px !important;
  color: #ffc107 !important;
  font-size: 14px;
  z-index: 1000;
  background-color: #172a28;

}
